/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run WrightonLabCSU/dram -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input_fasta         = "${projectDir}/tests/data/owc/input_fasta"
    outdir              = 'results'
    rename              = true
    call                = true
    annotate            = true
    // distill_topic       = 'default'
    // distill_ecosystem   = 'eng_sys,ag'
    // product             = true
    // adjectives          = true
    use_merops          = true
    // use_fegenie         = true
    // use_sulfur          = true
    // use_camper          = true
    use_kofam           = true
    use_kegg            = true
    slurm               = true
    use_dbcan           = true
    // use_canthyd         = true
    // use_methyl          = true
    // use_uniref          = true

    // Lower all 
    tiny_cpus_limit = 1
    small_cpus_limit = 1
    medium_cpus_limit = 2
    big_cpus_limit = 3
    huge_cpus_limit = 4

    tiny_gb_mem_limit = 1
    small_gb_mem_limit = 2
    medium_gb_mem_limit = 4
    big_gb_mem_limit = 7
    huge_gb_mem_limit = 20

    tiny_hr_time_limit = 1
    small_hr_time_limit = 1
    medium_hr_time_limit = 1
    big_hr_time_limit = 1
    huge_hr_time_limit = 1
}
